.account{
  &__block{
    margin-top: 3rem;
    .tab__header{
      justify-content: flex-start;
      padding: 0;
      background: none;
      gap:2rem;
      overflow-x: auto;
      margin: 0 0 3rem;
      width:auto ;
    }
    .tab__header-item{
      padding: 0;
      font-weight: 500;
      white-space: nowrap;
      color:var(--color-grey);
      &.active{
        background-color: transparent ;
        color:var(--color-black-light);
      }
    }
  }
  .login__form{
    margin: 0;
  }
  &__invite{
    &-button{
      font: 500 1.2rem / normal var(--Ubuntu);
      padding: 1rem 1.4rem 1rem 2.7rem ;
      position: relative;
      color: var(--color-primary);
      border-radius: 1rem;
      border: 0.1rem solid var(--color-primary);
      background: var(--color-white);
      &:after{
        content: '';
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
        width: 1.5rem;
        height: 1.5rem;
        background: url("../img/plus.svg") center/1.5rem 1.5rem no-repeat;
      }
      &:hover{
        color:white;
        transition: 0.2s ease;
        background: var(--color-primary);
        &:after{
          filter: brightness(0) invert(1);
        }
      }
    }
  }
}

.history{
  &__table{

  }
  &__download{
    width: 1.6rem;
    height: 1.6rem;
    margin: 0 auto;
  }
  &__desc{
    display: none;
    &.active{
      display: flex;
      gap:0.8rem;
      flex-direction: column;
    }
    &-item{
      display: grid;
      grid-template-columns: 3% 7% 66% 18% 6%;
      font: 400 1.4rem / normal var(--Ubuntu);
      padding: 0.4rem 0;
      align-items: center;
    }

    &-img{
      border-radius: 1rem;
      width: 8.3rem ;
      height: 5rem;
    }
    &-info{
      display: flex;
      flex-direction: column;
      gap:0.5rem;
      & > *{
        text-align: left;
      }
    }
    &-title{

    }
    & > *{
      text-align: center;
    }

    .section__button{
      padding: 1rem 2rem;
      height: max-content;
      width: max-content;
    }
    &-subtitle{
      color:var(--color-grey);
      -webkit-line-clamp: 1;
      position: relative;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }
    &-link{
      color:var(--color-primary);
    }
  }
  &__row{
    display: grid;
    text-align: center;
    align-items: center;
    font: 400 1.4rem / normal var(--Ubuntu) ;
    grid-template-columns: 14% 18% 18% 19% 17% 10% 4%;
    &:not(:last-child){
      border-bottom: 0.1rem solid #F1F2F6;
    }
    &.active{
      background-color: #F8F8FA;
      .history__show:after{
        transform: translateX(-50%) rotate(180deg);
      }
    }
  }
  &__header{
    font-weight: 500;
    padding: 1.6rem 0;
    background: #F1F2F6;
    color:#010101;
  }
  &__status{
    display: block;
    border-radius: 2rem;
    padding: 0.8rem 1rem;
    width: max-content;
    margin: 0 auto;
    &.completed{
      color:#007739;
      background-color:#E5F6ED ;
    }

  }
  &__show{
    width: 5.6rem;
    height: 4.9rem;
    position: relative;
    margin-left: auto;
    &:after{
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 1rem;
      height: 1rem;
      background: url("../img/open.svg") center/1rem 1rem no-repeat;
    }
  }
  &__empty{
    display: flex;
    flex-direction: column;
    gap:2rem;
    margin-top: 6rem;
    &-icon{
      width: 5rem;
      height: 5rem;
    }
    &-title{
      font: 500 1.4rem / normal var(--Ubuntu);
      color:var(--color-grey);
    }
  }
}


.address{
  display: flex;
  flex-direction: column;
  gap:1rem;
  &__item{
    display: flex;
    gap:2rem;
    align-items: center;
    justify-content: space-between;
    max-width: 69rem;
    padding: 2rem;
    border-radius: 1rem;
    background: #F5F7F9;
    & > *{
      color:#212121;
      font: 400 1.4rem / normal var(--Ubuntu);
    }
  }
  &__btn{
    display: flex;
    gap:2rem;
    align-items: center;
  }
  &__edit{
    font: 400 1.4rem / normal var(--Ubuntu);
    color:var(--color-primary);
  }
  &__delete{
    width: 2.8rem;
    height: 2.8rem;
    cursor: pointer;
    position: relative;
    top: 0;
    margin-left: auto;
    display: block;
    right: 0;
    background: url("../img/delete.svg") center/2.8rem 2.8rem no-repeat;
  }
  &__add{
    padding: 1.4rem 3rem;
    width: max-content;
    border-radius: 1rem;
    border: 0.1rem solid var(--color-primary);
    background: var(--color-white);
    color:var(--color-primary);
    margin-top: 2rem;
    font: 700 1.4rem / normal var(--Ubuntu);
  }
  &__form{
    &-back{
      position: relative;
      padding-left: 2.2rem;
      color:var(--color-primary);
      font: 500 1.4rem / normal var(--Ubuntu);
      margin-bottom: 3rem;
      &:after{
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 2rem;
        height: 2rem;
        background: url("../img/back.svg") center/2rem 2rem no-repeat;
      }
    }
    &-wrap{
      max-width: 45rem;
      display: none;
    }
  }
}

.invite{
  &__table{
    &-flex{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap:1rem;
      margin-bottom: 1rem;
    }
    &-form{
      display: flex;
      max-width: 20rem;
      width: 100%;
      padding: 0.8rem;
      border-radius: 2rem;
      border: 0.1rem solid #D1D7DE;
      background: #FFF;
      gap:1rem;
      input{
        background-color: transparent;
        border: none;
        font: 400 1.4rem / normal var(--Ubuntu);
        &::placeholder{
          color:#A4B0BE;
        }
      }
      .img{
        width: 2rem;
        height: 2rem;
      }
    }
  }
  &__info{
    &-head{
      display: grid;
      grid-template-columns: 18% 18%;
    }
    &-item{
      display: grid;
      grid-template-columns: 3% 20% 74% 2%;
      align-items: center;
    }
    &-img{
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 50%;
      img{
        border-radius: 50%;
      }
    }
    &-head{
      background: #F1F2F6;

      h3{
        color: #010101;
        font: 500 1.4rem / normal var(--Ubuntu);
        padding: 1.6rem 3rem;
        text-align: center;
        display: flex;
        align-items: center;justify-content: center;
        gap:0.6rem

      }
      img{
        width: 1rem;
        height: 1rem;
      }
    }
    &-item{
      padding: 1.6rem 0;
      &:not(:last-child){
      border-bottom: 0.1rem  solid #F1F2F6;;
     }
    }
    &-title{
      display: flex;
      flex-direction: column;
      gap:0.2rem;
      h3{
        font: 400 1.4rem / normal var(--Ubuntu);
      }
      a{
        font: 400 1.2rem / normal var(--Ubuntu);
        color:#747D8C;
      }
    }
    &-phone{
      font: 400 1.4rem / normal var(--Ubuntu)!important;
      color: #000!important;

    }
    &-remove{
      width: 2.4rem;
      height: 2.4rem;
      background: url("../img/delete.svg") center/2.4rem 2.4rem no-repeat;

    }
  }
}


@media only screen and (max-width: 666px) {
  .account .container{
    padding: 2rem 1.4rem 2rem  ;
  }
  .history__row{
    grid-template-columns: 18% 31% 32% 17% 16% 12% 13%;
  }
  .history__table{
    overflow-y: auto;
    padding-bottom: 1.5rem;
    &::-webkit-scrollbar {
      background-color: transparent;
      width: 100%;
      height: 0.4rem;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 1rem;
      background-color: var(--color-primary);
    }
  }

  .history__header{
    position: relative;
    &:after{
      position: absolute;
      content:'';
      top: 0;
      right: -40%;
      width: 100vw;
      height: calc( 100% + 0.1rem);
      z-index: -1;
      background-color: #F1F2F6;;
      border-bottom: 0.1rem solid #F1F2F6;
    }
  }
  .history__empty{
    align-items: center;
    justify-content: center;
    margin: 10rem auto;
  }
  .account__block .tab__header{
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 0;
    &::-webkit-scrollbar {
      background-color: transparent;
      width: 100%;
      height: 0.4rem;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 1rem;
      background-color: var(--color-primary);
    }
  }
  .history__desc .section__button{
    margin: 0 auto;
  }

  .history__row:not(:last-child):not(.history__header){
    position: relative;
    &:after{
      position: absolute;
      content:'';
      top: 0;
      right: -40%;
      width: 100vw;
      height: calc(100% + 0.1rem);
      z-index: -1;
      background-color: transparent;
      border-bottom: 0.1rem solid #F1F2F6;
    }
  }
  .history__row.active{
    position: relative;
    &:after{
      position: absolute;
      content:'';
      top: 0;
      right: -40%;
      width: 100vw;
      height: calc(100% + 0.1rem);
      z-index: -1;
      background-color: #F8F8FA!important;
      border-bottom: 0.1rem solid #F1F2F6;
    }
  }
  .history__desc-item{
    grid-template-columns: 5% 30% 62% 16% 6%;
  }

  .invite__info-head{
    grid-template-columns: 100%;
    & > h3{
      text-align: left;
      padding: 1.6rem 1rem;
      justify-content: flex-start;
    }
  }
  .invite__info-item{
    grid-template-columns: 12% 77% 6%
  }
  .invite__info-head h3:last-child{
    display: none;
  }
  .invite__info-phone{
    margin-top: 0.8rem;
  }
}
@media only screen and (max-width: 374px) {
  .invite__table-flex{
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

