<!-- FOOTER -->

<footer>


    <div class="footer__top">
        <div class="container">
            <div class="footer__top-block">
                <div class="footer__logo img">
                    <img src="./../img/logo__footer.png" alt="">
                </div>
                <div class="footer__menu">
                    <a href="">Switches</a>
                    <a href="">Routers</a>
                    <a href="">Transceivers</a>
                </div>
            </div>
        </div>

    </div>
    <div class="footer ">
        <div class="container">

            <div class="footer__block">
                <div class="footer__item footer__info">
                    <p>Tellus Networks GmbH <br>
                        Jakobsweg 1<br>
                        64560 Riedstadt</p>
                   <strong>Telefon: </strong> <a href="+49 6158 9298861">+49 6158 9298861</a><br>
                   <strong>E-Mail: </strong> <a href="mailto:info@tellus-networks.com">info@tellus-networks.com</a>
                </div>
                <div class="footer__item">
                    <ul>
                        <li class=""><a href="">BuyHardware</a></li>
                        <li class=""><a href="">Sell Hardware</a></li>
                        <li class=""><a href="">Doubled Sustainability</a></li>
                        <li class=""><a href="">Frequently Asked Questions (FAQ)</a></li>
                    </ul>
                </div>

                <div class="footer__item">
                    <ul>
                        <li class=""><a href="">Contact</a></li>
                        <li class=""><a href="">Imprint</a></li>
                        <li class=""><a href="">Data Protection</a></li>
                        <li class=""><a href="">Conditions</a></li>
                    </ul>
                </div>

                <div class="footer__item">
                    <div class="footer__item-title"><strong>Abonnieren Sie unseren Newsletter</strong></div>

                    <form method="post" action="/wp-admin/admin-post.php?action=mailpoet_subscription_form"
                          class="mailpoet_form mailpoet_form_form mailpoet_form_php">
                        <input type="hidden" name="data[form_id]" value="1">
                        <input type="hidden" name="token" value="e2aeb8e0a7">
                        <input type="hidden" name="api_version" value="v1">
                        <input type="hidden" name="endpoint" value="subscribers">
                        <input type="hidden" name="mailpoet_method" value="subscribe">
                        <div class="input-group " >
                            <input required="" type="email" class="form-control form-control-newsletter"
                                   name="data[form_field_YzQwZGFlYmI4YTgxX2VtYWls]" placeholder="Email"
                                   aria-label="E-Mailadresse">
                            <button name="anmelden" class="btn btn-send-mail" type="submit"></button>
                        </div>
                    </form>

                    <div class="footer__item-title"><strong>Folge uns auf Social Media</strong></div>
                    <div class="footer__icon-wrap">
                        <a href="https://www.linkedin.com/company/tellus-networks" target="_blank" class="footer__icon"></a>
                        <a href="https://www.xing.com/pages/tellus-networks-gmbh" target="_blank" class="footer__icon"></a>
                    </div>
                </div>

            </div>


            <div class="footer__text-center">
                    © TELLUS NETWORK GmbH 2024
            </div>



        </div>
    </div>
</footer>
<!-- /FOOTER -->
