<!-- FOOTER -->

<footer>


    <div class="footer__top">
        <div class="container">
            <div class="footer__top-block">
                <div class="footer__logo img">
                    <img src="./../img/logo__footer.png" alt="">
                </div>
                <div class="footer__menu">
                    <a href="">Switches</a>
                    <a href="">Routers</a>
                    <a href="">Transceivers</a>
                </div>
            </div>
        </div>

    </div>
    <div class="footer ">
        <div class="container">

            <div class="footer__block">
                <div class="footer__item">
                    <p>Tellus Networks GmbH<br>
                        Jakobsweg 1<br>
                        64560 Riedstadt<br>
                        <strong>Telefon:</strong> +49 6158 9298861<br>
                        <strong>E-Mail:</strong> <a href="mailto:info@tellus-networks.com">info@tellus-networks.com</a></p>
                </div>
                <div class="footer__item">
                    <ul>
                        <li class=""><a target="" class="nav-link" href="https://www.tellus-networks.com/hardware-kaufen/">Buy
                            Hardware</a></li>
                        <li class=""><a target="" class="nav-link"
                                        href="https://www.tellus-networks.com/hardware-verkaufen/">Sell Hardware</a></li>
                        <li class=""><a target="" class="nav-link"
                                        href="https://www.tellus-networks.com/doppelte-nachhaltigkeit/">Doubled
                            Sustainability</a></li>
                        <li class=""><a target="" class="nav-link" href="https://www.tellus-networks.com/faq/">Frequently
                            Asked Questions (FAQ)</a></li>
                    </ul>
                </div>

                <div class="footer__item">
                    <ul>
                        <li class=""><a target="" class="nav-link"
                                        href="https://www.tellus-networks.com/kontakt/">Contact</a></li>
                        <li class=""><a target="" class="nav-link"
                                        href="https://www.tellus-networks.com/impressum/">Imprint</a></li>
                        <li class=""><a target="" class="nav-link"
                                        href="https://www.tellus-networks.com/datenschutzerklaerung/">Data Protection</a>
                        </li>
                        <li class=""><a target="" class="nav-link"
                                        href="https://www.tellus-networks.com/agb/">Conditions</a></li>
                    </ul>
                </div>

                <div class="footer__item">
                    <div class=""><strong>Abonnieren Sie unseren Newsletter</strong></div>

                    <form method="post" action="/wp-admin/admin-post.php?action=mailpoet_subscription_form"
                          class="mailpoet_form mailpoet_form_form mailpoet_form_php">
                        <input type="hidden" name="data[form_id]" value="1">
                        <input type="hidden" name="token" value="e2aeb8e0a7">
                        <input type="hidden" name="api_version" value="v1">
                        <input type="hidden" name="endpoint" value="subscribers">
                        <input type="hidden" name="mailpoet_method" value="subscribe">
                        <div class="input-group " style="display: none">
                            <input required="" type="email" class="form-control form-control-newsletter"
                                   name="data[form_field_YzQwZGFlYmI4YTgxX2VtYWls]" placeholder="E-Mailadresse"
                                   aria-label="E-Mailadresse">
                            <button name="anmelden" class="btn btn-send-mail" type="submit"></button>
                        </div>
                    </form>

                    <div class=""><strong>Folge uns auf Social Media</strong></div>
                    <a href="https://www.linkedin.com/company/tellus-networks" target="_blank" class="soc-icon"><img
                            src="https://www.tellus-networks.com/wp-content/uploads/2023/07/icon-awesome-linkedin_in.svg"
                            alt=""></a>
                    <a href="https://www.xing.com/pages/tellus-networks-gmbh" target="_blank" class="soc-icon"><img
                            src="https://www.tellus-networks.com/wp-content/uploads/2023/07/icon-awesome-xing.svg"
                            alt=""></a>
                </div>

            </div>


            <div class="row mt-5">
                <div class="col text-center">
                    © TELLUS NETWORK GmbH 2024
                </div>
            </div>


        </div>
    </div>
</footer>
<!-- /FOOTER -->
