<header class="header">
    <div class="container">
        <div class="header__block">
            <a class="header__logo img" href="./../index.html">
               <img src="../img/logo.png          " alt="">
            </a>
            <div class="header__menu">
                <div class="header__menu-list">
                    <a href="">Switches</a>
                    <a href="">Routers</a>
                    <a href="">Transceivers</a>
                </div>
                <div class="header__menu-mob">
                    <a href="" class="header__menu-favorite">
                        <div class="header__icon img">
                            <img src="../img/heart.svg" alt="">
                        </div>
                        <span>Favorite products</span>
                    </a>
                    <button class="header__menu-close">Close</button>
                </div>
            </div>
            <div class="header__button">
                <div class="header__search-wrap">
                    <div class="header__search">
                        <div class="header__icon img">
                            <img src="../img/search.svg" alt="">
                        </div>
                        <form  class="header__search-form">
                            <input type="hidden" name="action" value="search">
                            <input type="text" placeholder="Start typing..." name="search__text">
                            <button type="submit" >Search</button>
                        </form>

                    </div>
                </div>

                <a href="" class="header__icon img">
                    <img src="../img/heart.svg" alt="">
                </a>
                <a href="" class="header__icon img">
                    <img src="../img/bag.svg" alt="">
                </a>
                <a href="" class="header__icon img">
                    <img src="../img/profile.svg" alt="">
                </a>
                <div class="header__burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="category__filter-close-wrap">
                    <div class="category__filter-close">
                        <span></span>
                        <span></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>


