<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="scripts/plagins/jquery.validate.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/intlTelInput.js"></script>
<script type="text/javascript" src="scripts/develop/index.js" ></script>
<script type="text/javascript" src="scripts/develop/category.js" ></script>
<script type="text/javascript" src="scripts/develop/front.js" ></script>
<script type="text/javascript" src="scripts/develop/signin.js" ></script>
<script type="text/javascript" src="scripts/develop/product.js" ></script>
<script type="text/javascript" src="scripts/develop/account.js" ></script>

